* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1em;
  background-color: #fcf4ec;
  font-family: "Space Mono", monospace;
}

.headContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10%;
  padding: 0.5rem 0;
}
.headContainer div {
  width: 80%;
  padding: 1%;
}
.title {
  font-size: 2rem;
  text-align: center;
}
.subTitle {
  display: flex;
}

.noticeInformation {
  display: flex;
  justify-content: end;
}
.noticeInformation > span {
  padding-left: 0.3rem;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
.topRank {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 80%;
  height: 40%;
  margin-top: 2%;
}
.restRank {
  width: 80%;
  height: 61%;
  margin-bottom: 1rem;
}

/*1st -3rd*/
.topRank > div {
  width: 33%;
  height: 100%;
  text-align: center;
}
.topRank > div .rankNumber {
  font-size: 3rem;
}

.topRank > div .rankKeyword {
  font-size: 2rem;
  background-color: #ffcfcb;
  border-radius: 1rem;
}
.topRank > div a {
  background-color: #ffcfcb;
  color: black;
}
.rank.first > .rankNumber {
  position: relative;
}
.rank.first > .rankNumber::before {
  content: "";
  border: 3px solid #98b6ec;
  border-radius: 70% 50% 70% 70%;
  width: 7rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rank.first > .rankNumber::after {
  content: "";
  border: 3px solid #98b6ec;
  border-radius: 70% 50% 70% 70%;
  width: 6.8rem;
  height: 2.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(7deg);
}
.rank.first {
  position: relative;
}
.startImage {
  position: absolute;
  background-color: transparent;
  width: 3rem;
  top: 0;
  left: 60%;
  transform: translate(-50%, -50%);
  filter: invert(60%) sepia(72%) saturate(348%) hue-rotate(185deg)
    brightness(96%) contrast(93%);
  /*filter from css filter generator */
  z-index: 1;
}
.rankKeyword.first {
  padding: 2rem 0;
}
.rankKeyword.second {
  padding: 1.2rem 0;
}
.rankKeyword.third {
  padding: 0.5rem 0;
}

/* 4th - 10th */
.restRank .rank {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0.2rem 0;
  border-radius: 1rem;
  background-color: #ff9f97;
}
.restRank .rank .rankNumber {
  width: 20%;
  font-size: 2rem;
  text-align: center;
  margin-left: 1rem;
  background-color: #ff9f97;
}
.restRank .rank .rankKeyword {
  width: 80%;
  margin: 0 10px;
  font-size: 1.5rem;
  background-color: #ff9f97;
}
.restRank .rank a {
  background-color: #ff9f97;
  color: #000;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/*MEDIA QUERY*/
