* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
body {
  background-color: #f5ede4;
}
a {
  text-decoration: none;
  background-color: transparent;
  color: #f5ede4;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.headerTitle::before {
  content: "Top 10";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.3rem;
}
.headerTitle {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  color: #f5ede4;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 1rem;
}
.headerTitle::after {
  content: "in Norway";
  position: absolute;
  bottom: 0;
  right: -15%;
  transform: rotate(-10deg);
  background: black;
  font-size: 1.3rem;
}
.headerSubTitle {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
}
.headerTooltip {
  text-align: center;
  position: relative;
}
.tooltipInformation::before {
  content: "";
  position: absolute;
  top: -20%;
  right: 5%;
  border-bottom: 1rem solid black;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}
.tooltipInformation {
  display: none;
  position: absolute;
  top: 150%;
  right: -10%;
  width: 300px;
  padding: 0.1rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background: black;
  color: white;
}
.headerTooltip:hover .tooltipInformation {
  cursor: help;
  display: flex;
}
.headerTooltip span {
  vertical-align: middle;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.gridBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
}
.rankBox {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rankBox:first-child {
  grid-column: span 3;
}

.rankBox .rankOrder {
  flex: 1;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
  color: #f5ede4;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
}
.rankBox .rankKeyword {
  flex: 4;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
}
.rankBox:hover {
  transform: scale(1.02);
}

.rankBox:nth-child(1) {
  background-color: #ecd5e3;
}
.rankBox:nth-child(2) {
  background-color: #c0d4ba;
}
.rankBox:nth-child(3) {
  background-color: #bec6eb;
}
.rankBox:nth-child(4) {
  background-color: #daece0;
}
.rankBox:nth-child(5) {
  background-color: #fbecc6;
}
.rankBox:nth-child(6) {
  background-color: #f0e9f9;
}
.rankBox:nth-child(7) {
  background-color: #ffcfcb;
}
.rankBox:nth-child(8) {
  background-color: #cddeef;
}
.rankBox:nth-child(9) {
  background-color: #feafab;
}
.rankBox:nth-child(10) {
  background-color: #ffcbaf;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

@media screen and (max-width: 1024px) {
  .rankBox .rankOrder {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .rankBox .rankKeyword {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 750px) {
  .headerTitle::before {
    font-size: 1rem;
  }
  .headerTitle {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .headerTitle::after {
    right: -5%;
    font-size: 1rem;
  }
  .headerSubTitle {
    font-size: 0.8rem;
  }

  .rankBox .rankOrder {
    font-size: 2rem;
    font-weight: 700;
  }
  .rankBox .rankKeyword {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.2rem;
  }
}

@media screen and (max-width: 550px) {
  .headerTitle::before {
    font-size: 1rem;
  }
  .headerTitle {
    font-size: 2rem;
    font-weight: 600;
  }
  .headerTitle::after {
    bottom: -10%;
    right: -5%;
    font-size: 1rem;
  }
  .headerSubTitle {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .headerDate {
    width: 100%;
    margin-bottom: 1rem;
  }
  .tooltipInformation::before {
    top: -20%;
    right: 80%;
  }
  .tooltipInformation {
    top: 150%;
    right: -150%;
  }

  .mainContainer {
    margin-bottom: 2rem;
  }
  .rankBox .rankOrder {
    font-size: 2rem;
  }
  .rankBox .rankKeyword {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 410px) {
  .headerTitle::before {
    font-size: 1rem;
  }
  .headerTitle {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .headerTitle::after {
    bottom: -10%;
    right: -5%;
    font-size: 0.8rem;
  }
  .headerDate {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .rankBox .rankOrder {
    font-size: 1.5rem;
  }
}
